## PARSER SETTING ============================================================

# CLASS IMPLEMENTING PARSER
PARSER=org.andrew.tvheadend.parsers.lyngsat.ServiceParser

# System allows you to have regional format files
# Different regions may have different channels.
# Look in the root for Region_[REGION]_*.txt
# Not all parsers will make use of this
REGION=NorthernIreland

# The CSV File output by the parser
CSVSERVICEFILE=C:/Development/tvheadend/services.csv

# Prefer HD channels for VideoGuard Channels
USE_HD_VIDEO_GUARD=FALSE



# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~



## TVHEADEND SETTING ==========================================================

# tvheadend target adapter
tvheadend_target_adapter=_dev_dvb_adapter0_TurboSight_TBS_6981_DVBS_S2_frontend

# tvheadend target path
tvheadend_target_path=c:\\home\\hts\\.hts\\tvheadend

# www.tvheadendend.com:9981 /tvadapters/General
originalnetworkid=2

# ~/.hts/tvheadend/dvbsatconf/[ADAPTER]$
# Not really that important?
satconf=1

# transportstreamid start number
transportstreamid=2001



# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~